/condicionales/problema1/Problema1/nbproject/private/
/condicionales/problema1/Problema1/build/
/condicionales/problema2/Problema2/nbproject/private/
/condicionales/problema2/Problema2/build/
/condicionales/problema3/Problema3/nbproject/private/
/condicionales/problema3/Problema3/build/
/condicionales/problema4/Problema4/nbproject/private/
/manejo-entrada-salida/problema01/Problema1/nbproject/private/
/manejo-entrada-salida/problema01/Problema1/build/
/manejo-entrada-salida/problema02/Problema2/nbproject/private/
/manejo-entrada-salida/problema03/Problema3/nbproject/private/
/manejo-entrada-salida/problema04/Problema4/nbproject/private/
/manejo-entrada-salida/problema05/Problema5/nbproject/private/
